
       @import url('https://fonts.googleapis.com/css?family=McLaren&display=swap');
       .container .navbar .navbar-brand {
             color: red;
             background-color: springgreen;
             font-family: 'McLaren', cursive;
             padding: 0;
             
         }
         header, footer {
             padding: 1em;
             background-color:  #2E2E2E;
             text-align: center;
             border-left: 2px solid gray;
             border-collapse: 2px solid gray;
         }
 
         .bg-light {
             background-color: MediumSeaGreen;
         }
 
         .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
             color: white;
             font-family: 'McLaren', cursive;
         }
 
         .navbar-light .navbar-nav .nav-link {
             color: white;
             font-family: 'McLaren', cursive;
         }
 
         h1{
             text-align: center;
             font-family: 'McLaren', cursive;
             padding-bottom: 700px;
             font-size: 50px;
             color: tomato;
         }
 
         h1.a {
             text-align: center;
             font-family: 'McLaren', cursive;
             padding-bottom: 350px;
             font-size: 50px;
             padding-top:350px;
             color: white;
         }
 
         h1:hover {
             color: yellow;
             transition: .5s;
             opacity: 1;
             filter: alpha(opacity=50);
         }
          body {
             margin: 0;
             font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
             font-size: 1rem;
             font-weight: 400;
             line-height: 1.5;
             color: #212529;
             text-align: left;
             background-image: url("https://img2.thuthuatphanmem.vn/uploads/2018/12/30/anh-nen-background-dep_110341229.jpg");
             background-size: cover;
         }
 
            .frm{
             position: absolute;
             top: 45%;
             left: 50%;
             transform: translate(-50%, -50%);
             width: 500px;
             height: 260px;
             margin-top: 250px;
             margin-left: -300px;
             padding: 30px;
             background-color: pink;
             opacity: 0.9;
             box-sizing: border-box;
             box-shadow: 0 15px 25px rgba(0,0,0,.5);
             border-radius: 10px;  
         }

         .frm1{
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            margin-top: 350px;
            padding: 30px;
            background-color: pink;
            opacity: 0.9;
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.5);
            border-radius: 10px;  
        }

        .frm4
        {
            position: absolute;
            top: 45%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 400px;
            padding: 30px;
            margin-top: 500px;
            background-color: pink;
            opacity: 0.9;
            box-sizing: border-box;
            box-shadow: 0 15px 25px rgba(0,0,0,.5);
            border-radius: 10px; 
        }

        .like
        {
        background: rgb(0, 173, 204);
        border-radius:2px;
        border:1px solid rgb(0, 225, 255);
        padding:2px;
        color:#fff;
        margin:2px;
        }
        .xoa
        {
            border-radius:2px;
            border:1px solid rgb(0, 225, 255);
            padding:2px;
            color:rgb(0, 174, 255);
            margin:2px;
        }
        .like:hover
        {
        background: rgba(255, 255, 255, 0.795);
        padding:2px;
        }
        /* .xoa:hover
        {
        background: #f5f5f5;
        padding:2px;
        } */


         nav{
             background-color: midnightblue;
             opacity: 0.9;
            
         }
         nav:hover{
             color: black;
             transition: .5s;
             opacity: 1;
             filter: alpha(opacity=50);
         }
 
         .footer{
             border: 1px;
             border-style: solid;
          
             background-color: white;
         }
         
         blockquote {
             margin-top:650px;
             background-color: white;
         }
 
         .alert {
             position: relative;
             padding: .75rem 1.25rem;
             margin-bottom: 1000px;
             margin-top: -650px;
             border: 1px solid transparent;
             border-radius: .25rem;
             text-align: left;
             color: cornsilk;
             background-color: lightblue;
         } 

         .card-body{
             padding: 1rem;
         }
 
       
         
  